# ----------------- Web backend -----------------
fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
python-dotenv==1.0.1

# ----------------- Transformers & Models -----------------
torch==2.5.1
transformers==4.41.2
sentence-transformers==2.2.2

# ----------------- NLP & Utils -----------------
langdetect==1.0.9
numpy==1.26.4
scikit-learn==1.5.0

# ----------------- Pinecone -----------------
pinecone-client==3.2.2

# ----------------- Optional (XAI) -----------------
shap==0.44.1   # used if USE_SHAP=true
