fastapi==0.115.0
uvicorn[standard]==0.30.6
transformers>=4.41.0
torch
sentencepiece
faiss-cpu
scikit-learn
shap
captum
nltk
spacy
sacrebleu
rouge-score
pandas
numpy
python-dotenv
langdetect
sentence-transformers
tqdm
kaggle
